<!DOCTYPE html>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-E39YJ9C3B4"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'G-E39YJ9C3B4');
        </script>
        <title>메BTI</title>
        <!-- js -->

        <script
            type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"
        ></script>

        <!-- <script
            type="text/javascript"
            src="https://jchamill.github.io/jquery-quiz/jquery.quiz-min.js"
        ></script> -->

        <script
            type="text/javascript"
            src="{{ url_for('static', filename='js/mbti.js') }}"
        ></script>

        <!-- css -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/navi.css') }}" />
    </head>

    <body>
        <section class="navigation">
            <div class="nav-container">
                <div class="brand">
                    <a href="#!">JOBMAPLE</a>
                </div>
                <nav>
                    <div class="nav-mobile">
                        <a id="nav-toggle" href="#!"><span></span></a>
                    </div>
                    <ul class="nav-list">
                        <li>
                            <a href="https://maple.run.goorm.io/job_rank">메인 페이지</a>
                        </li>
                        <li>
                            <a href="https://maple.run.goorm.io/job_rank">직업 랭킹</a>
                        </li>
                        <li>
                            <a href="https://maple.run.goorm.io/mbti">메BTI (직업 성향 검사)</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>

        <!-- <div class="ad1">
            <ins
                class="kakao_ad_area"
                style="display: none;"
                data-ad-unit="DAN-R0gueEC7LiWCYRvo"
                data-ad-width="160"
                data-ad-height="600"
            ></ins>
            <script
                type="text/javascript"
                src="//t1.daumcdn.net/kas/static/ba.min.js"
                async
            ></script>
        </div> -->

        <div id="quiz">
            <div id="quiz-header">
                <h1>메BTI에 잘 오셨어요 !</h1>
                <p class="faded">
                    메BTI는 간단한 성향 테스트를 통해 취향에 맞는 직업을 추천해준답니다 !
                </p>
            </div>

            <div id="quiz-start-screen">
                <p><a href="#" id="quiz-start-btn" class="quiz-button">테스트 시작 !</a></p>
            </div>
        </div>

        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <main id="chart_main">
            <h5>메BTI 검사 결과를 보여드릴게요.</h5>
            <div id="bar-chart"></div>
        </main>
        <script>
            $('#quiz').quiz({
                //resultsScreen: '#results-screen',
                //counter: false,
                //homeButton: '#custom-home',
                counterFormat: '%current / %total',
                questions: [
                    {
                        q: '당신의 플레이 스타일은 ?',
                        sub: '더 중요하게 생각하시는 플레이 방식을 선택해주세요 !',
                        options: ['보스 위주', '사냥 위주', '둘 다'],
                        correctIndex: 1,
                        selected_tag: ['보스', '사냥', '둘 다'],
                        plus_score: [5, 5, 0],
                        ans_comment: [
                            '역시 RPG는 보스죠 !',
                            '메이플은 사냥 능력이 매우 중요하죠!',
                            '어느 하나도 놓치지 않을게요 !',
                        ],
                    },
                    {
                        q: '둘 중 하나를 고른다면?',
                        sub: '사냥 스타일만큼 중요한게 없죠 !',
                        options: ['힘들지만 최고의 사냥 능력', '편하고 적절한 사냥 능력'],
                        correctIndex: 1,
                        selected_tag: ['마리수 1티어', '재획머신'],
                        plus_score: [3, 3],
                        ans_comment: [
                            '같은 시간동안 누구보다 많은 몬스터를 잡게 되실 거예요.',
                            '사냥은 역시 꾸준함이 생명이랍니다 !',
                        ],
                    },
                    {
                        q: '해당 캐릭터에 사용하실 메소의 양은?',
                        sub: '투자할 자본에 맞는 효율적인 직업을 추천해드려요 !',
                        options: ['100억 이하', '100억 ~ 500억', '무한 자본'],
                        correctIndex: 1,
                        selected_tag: ['가성비', '중자본 효율', '투자 효율'],
                        plus_score: [4, 2, 2],
                        ans_comment: [
                            '가성비 좋은 직업들을 소개해드릴게요 !',
                            '충분합니다! 정말 즐거운 게임이 되실거예요.',
                            '저만 믿으세요. 투자 할 맛 나는 직업들을 소개해드릴게요.',
                        ],
                    },
                    {
                        q: '원하시는 직업군이 있으신가요?',
                        sub: '원하는 직업군을 고려할게요 !',
                        options: ['전사', '마법사', '도적', '궁수', '해적', '상관 없음'],
                        correctIndex: 1,
                        selected_tag: ['전사', '마법사', '도적', '궁수', '해적', ''],
                        plus_score: [3, 3, 3, 3, 3, 0],
                        ans_comment: [
                            '전사만큼 멋진 직업이 없는 것 같아요 !',
                            '눈이 번쩍 뜨일만큼 화려하답니다 !',
                            '도적, 저도 참 좋아합니다. 섹시하잖아요 ?',
                            '궁수만큼 매력적인 직업이 없죠 !',
                            '팔방미인 직업 ! 로디드 다이스는 사랑입니다.',
                            '감사합니다 ! 저도 가끔 쉬고 싶어서요.',
                        ],
                    },
                    {
                        q: '원하시는 스텟이 있으신가요 ?',
                        sub:
                            '해당 스텟 아이템을 가지고 계시거나, 구매 의향이 있는 경우를 고려할게요 !',
                        options: ['STR', 'INT', 'LUK', 'DEX', 'HP', '상관 없음'],
                        correctIndex: 1,
                        selected_tag: ['STR', 'INT', 'LUK', 'DEX', 'HP', ''],
                        plus_score: [3, 3, 3, 3, 3, 0],
                        ans_comment: [
                            '알겠어요 !!',
                            '알겠어요 !!',
                            '알겠어요 !!',
                            '알겠어요 !!',
                            '알겠어요 !!',
                            '알겠어요 !!',
                        ],
                    },
                    {
                        q: '이동기의 취향은 어떻게 되시나요?',
                        sub: '이동기는 플레이 스타일에 큰 영향을 미치니까요.',
                        options: ['텔레포트', '점프', '상관 없음'],
                        correctIndex: 1,
                        selected_tag: ['텔레포트', '점프', ''],
                        plus_score: [3, 3, 0],
                        ans_comment: [
                            '저는 텔레포트 소리가 참 좋은 것 같아요. 샥- 샥-',
                            '보통 텔레포트를 답답해하시는 분들이 계시죠. 비밀인데, 사실 저도..!',
                            '알겠어요 !!',
                        ],
                    },
                    {
                        q: '필수 링크들이 있으신가요?',
                        sub: '링크는 링크 스킬을 의미해요.',
                        options: ['그렇다', '아니다', '그게 뭐지? 잘 모르겠다.'],
                        correctIndex: 1,
                        selected_tag: ['', '필수 링크', ''],
                        plus_score: [0, 3, 0],
                        ans_comment: [
                            '믿고 있었다구~',
                            '링크 스킬을 갖추는 것은 매우 중요하답니다 !',
                            '괜찮아요. 제가 다 해결해드릴거니까.',
                        ],
                    },
                    {
                        q: '원하는 컨트롤의 난이도, 스타일이 있으신가요?',
                        options: ['명확하고 간단한 조작', '복잡하고 화려한 조작', '상관없음'],
                        correctIndex: 1,
                        selected_tag: ['쉬운 접근', '신컨', ''],
                        plus_score: [3, 5, 0],
                        ans_comment: [
                            '쉽고 강한게 최고죠 !',
                            '컨트롤에 자신이 있으시군요 !',
                            '알겠어요 !!',
                        ],
                    },
                    {
                        q: '성능이 좋아도 너무 흔한 직업이라면 꺼려지시나요 ?',
                        options: ['그렇다', '아니다'],
                        correctIndex: 1,
                        selected_tag: ['유니크', '인기직업'],
                        plus_score: [5, 0],
                        ans_comment: [
                            '지나치게 흔하면, 매력이 떨어지는 것 같아요.',
                            '사실, 인기있는 직업은 이유가 있는 법이랍니다 !',
                        ],
                    },
                    {
                        q: '연계 직업에 재미를 느끼시나요 ?',
                        options: ['그렇다', '아니다'],
                        correctIndex: 1,
                        selected_tag: ['연계', ''],
                        plus_score: [3, 0],
                        ans_comment: [
                            '연계 스킬은 어렵지만, 리턴이 확실한 편이죠 !',
                            '알겠어요 !!',
                        ],
                    },
                    {
                        q: '가장 가까운 플레이 스타일을 골라주세요.',
                        options: ['RPG의 꽃은 역시 딜러 !', '파티의 희망, 모두가 원하는 서포터 !'],
                        correctIndex: 1,
                        selected_tag: ['딜러', '서포터'],
                        plus_score: [3, 5],
                        ans_comment: [
                            '파티의 주인공이 되게 해드릴게요.',
                            '모두 당신만 찾게 될거예요.',
                        ],
                    },
                    {
                        q: '원하는 종족이 있으신가요? 캐시 이동을 놓칠 순 없으니까요 !',
                        options: [
                            '노바',
                            '데몬',
                            '레지스탕스',
                            '레프',
                            '모험가',
                            '시그너스',
                            '영웅',
                            '상관없다',
                        ],
                        correctIndex: 1,
                        selected_tag: [
                            '노바',
                            '데몬',
                            '레지스탕스',
                            '레프',
                            '모험가',
                            '시그너스',
                            '영웅',
                            '',
                        ],
                        plus_score: [2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0],
                        ans_comment: [
                            '알겠어요 !!',
                            '알겠어요 !!',
                            '알겠어요 !!',
                            '알겠어요 !!',
                            '알겠어요 !!',
                            '알겠어요 !!',
                            '알겠어요 !!',
                            '알겠어요 !!',
                            '알겠어요 !!',
                            '알겠어요 !!',
                            '알겠어요 !!',
                        ],
                    },
                ],
            });
        </script>
        <div class="ad1">
            <ins
                class="kakao_ad_area"
                style="display: none;"
                data-ad-unit="DAN-8CqPCZXO6ce7iMK2"
                data-ad-width="320"
                data-ad-height="100"
            ></ins>
            <script
                type="text/javascript"
                src="//t1.daumcdn.net/kas/static/ba.min.js"
                async
            ></script>
        </div>
        <div class="ad2">
            <ins
                class="kakao_ad_area"
                style="display: none;"
                data-ad-unit="DAN-7f7u7JAW1UtQ5yMR"
                data-ad-width="320"
                data-ad-height="100"
            ></ins>
            <script
                type="text/javascript"
                src="//t1.daumcdn.net/kas/static/ba.min.js"
                async
            ></script>
        </div>
        <div class="ad3">
            <ins
                class="kakao_ad_area"
                style="display: none;"
                data-ad-unit="DAN-GMuiw0Ve2HELwYcK"
                data-ad-width="728"
                data-ad-height="90"
            ></ins>
            <script
                type="text/javascript"
                src="//t1.daumcdn.net/kas/static/ba.min.js"
                async
            ></script>
        </div>
    </body>
</html>