<!DOCTYPE html>
<html>
    <head>
        <title>테이블</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    </head>

    <body>
        <h1 class="title">직업 랭킹</h1>
        
        <table class="content-table">
            <thead>
                <tr>
                    <th>순위</th>
                    <th>직업 이름</th>
                    <th>캐릭터 수</th>
                </tr>
            </thead>
            
            <tbody>
                {% for key, value in rank_data.items() %}
                    <tr>
                        <td>{{value[0]}}</td>
                        <td>{{key}}</td>
                        <td>{{value[1]}}</td>
                    </tr>
                {% endfor %}                   
            </tbody>
        </table>
    </body>
</html>